
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
/* custom property use  */
:root{
    --primary-color:rgba(19, 19, 19, 1);
    --secondary-color:rgba(66, 66, 66, 1);
    --dark-3:rgba(114, 114, 114, 1);
    --font-family:"Work Sans", sans-serif;
} 
body{
    font-family:var(--font-family);
}
.header{
    background-color: rgb(255, 245, 232);
}
.menu {
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding:15px 50px;
    margin-bottom:50px;
}
.menu h3{
    font-family:var(--font-family);
    font-size:2.1rem;
    font-weight: bold;
    color:var(--primary-color);
    
}
.nav-links{
    display:flex;
}
.nav-links li {
    list-style:none;
    margin:20px;
}
.nav-links li a {
    font-family:var(--font-family);
    font-size:1.12rem;
    text-decoration:none;
    color:var(--secondary-color);
    line-height: 26px;
}
/* new section-one  */
.brand{
    width:53rem;
    text-align: center;
 margin:0 auto;
}
.brand h2{
    font-family:var(--font-family);
    color:var(--primary-color);
    font-size:3rem;
    font-weight: bold;
    margin-bottom:15px;
}
.brand p{
    font-family:var(--font-family);
    font-size:0.9rem;
    font-weight: 400px;
    color:var(--dark-3);
    line-height: 26px;
    margin-bottom:20px;
}
.brand button , .feature button{
    background-color: rgba(255, 144, 14, 1);
    color:rgba(255, 255, 255, 1);
    padding:13px 10px;
    border-radius: 8px;
    border:none;
    margin-bottom:20px;
}
.banner img{
    width:77%;
    
}
.banner{
    display:flex;
    justify-content: center;
    padding-bottom:25px;
}
/* team image style  */
.office-team{
    display:grid;
    grid-template-columns:repeat(2,250px);
    gap:16px;
}
.office-team img{
    width:250px;
}
.feature{
    width:350px;
    margin-left:50px;
}
.feature span{
color:var(--dark-3);
font-size:1.9rem;
font-weight:600px;
}
.feature .sub-title{
    color:rgba(255, 144, 14, 1);
    font-weight:bold;
}
.feature h3 {
    color:var(--primary-color);
    font-size:1.9rem;
    font-weight: bold;
}
.feature p{
    color:var(--dark-3);
    font-size:0.8rem;
    font-weight: 400px;
    line-height: 26px;
    margin-top:10px;
    margin-bottom:10px;
}
.feature-section{
    display:flex;
    justify-content: center;
    align-items: center;
    margin-top:50px;
}
/* responsive design  */
@media screen and (max-width:576px) {
    .menu{
        flex-direction: column;
    }
    .nav-links{
        flex-direction: column;
    }
    .brand{
        width:100%;
    }
    
    .office-team{
        grid-template-columns: repeat(1,250px);
    } 
    .feature-section{
        flex-direction: column;
    } 
    .feature{
width:50%;
margin-top:40px;
    }

}
@media screen and ( min-width:577px ) and ( max-width:850px){
   .brand{
    width:100%;
   } 
   .feature-section{
    flex-direction: column;
} 
.feature{
    width:50%;
    margin-top:40px;
        }
}